h1= title
p Welcome to #{title}
form
    .buttonset
        input#m1small(type='radio', name='instance-type')
        label(for='m1small') m1.small
        input#m1large(type='radio', name='instance-type')
        label(for='m1large') m1.large
        input#c1xlarge(type='radio', name='instance-type')
        label(for='c1xlarge') c1.xlarge
