body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form .field {
  clear:both;
  margin: 2px 0;
}
form .field .field-label {
    display:block;
    float:left;
    width:130px;
    text-align:right;
    padding:0.4em;
    margin: 2px 10px 2px 0;
}

.styleTable { border-collapse: separate; }
.styleTable TD { font-weight: normal !important; padding: .4em; border-top-width: 0px !important; text-align: center;}
.styleTable TH { text-align: center; padding: .4em 1em; font-weight: bold; font-size:14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);}
.styleTable TD.first, .styleTable TH.first { border-left-width: 0px !important; }
