body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form .field {
  clear:both;
  margin: 2px 0;
}
form .field .field-label {
    display:block;
    float:left;
    width:130px;
    text-align:right;
    padding:0.4em;
    margin: 2px 10px 2px 0;
}
